{
    "extends": ["plugin:@typescript-eslint/recommended", "prettier", "eslint:recommended"],
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "prettier", "jest"],
    "rules": {
        "no-console": 1,
        "no-var": 2
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "env": {
        "es6": true,
        "jest/globals": true,
        "browser": true // for console is not defined to disappear
    },
    "globals": { "require": true, "process": true }
}
